<link href="{{ url_for('static',filename='styles/bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='styles/fontawesome.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='styles/fa-animations.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='styles/animations.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='styles/app.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='styles/login.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='styles/keen.css') }}" rel="stylesheet">


